@page "/admin"
@attribute [Authorize(Roles ="Administrator")]

@using DostavkaNaMarket.Authentication
@using BlazorDateRangePicker
@using MongoDB.Bson
@using MongoDB.Driver

@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject IJSRuntime JSRuntime

@inject ILoggerFactory LoggerF

<AuthorizeView>
    <Authorized>
        <body>
            <EditForm Model="adminModel" Context="another_name" OnSubmit="RestartSearch">
              <main>
                <div class="row g-5"> 
                  <div class="col">
                    <h4 class="mb-3 text-center">Управление</h4>
                      <div class="row mb-3">
                        <div class="col-3">
                            <label for="date" class="form-label">Дата отправки</label>
                            @if(adminModel.isChecked)
                            {
                                <DateRangePicker class="form-control" AutoApply="true" SingleDatePicker="true" 
                                @bind-StartDate="StartDate" @bind-EndDate="EndDate" disabled/>
                                StartDate = null;
                                EndDate = null;
                            }
                            else if(!adminModel.isChecked)
                            {
                                <DateRangePicker class="form-control" AutoApply="true" SingleDatePicker="true" 
                                @bind-StartDate="StartDate" @bind-EndDate="EndDate" />
                            }
                            
                        </div>
                        <div class="col-1">
                            <label for="date" class="form-label">Все даты</label>
                            <div class="boxed-check-group boxed-check-outline-primary">
                                <label class="boxed-check small">
                                  <InputCheckbox class="boxed-check-input" type="checkbox" @bind-Value="adminModel.isChecked"/>
                                  <div class="boxed-check-label text-center">Все</div>
                                </label>
                            </div>
                        </div>
                        <div class="col"></div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-4">
                            <label class="form-label">Телефон</label>
                            <InputText class="form-control" id="phoneNumber" @bind-Value="adminModel.PhoneNumber"/>
                        </div>
                        <div class="col-3">
                            <label class="form-label">Адрес электронной почты</label>
                            <InputText  class="form-control" id="email" @bind-Value="adminModel.Email"/>
                        </div>
                        <div class="col-5">
                            
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-4">
                            <label for="orderNum" class="form-label">Заказ №</label>
                            <InputText class="form-control" id="orderNum" @bind-Value="adminModel.OrderNumber"/>
                        </div>
                        <div class="col-3">
                            <label for="check" class="form-label">Способ оплаты</label>
                            <InputRadioGroup Name="radio-overview-1" @bind-Value="adminModel.PayMet">
                            <div class="boxed-check-group boxed-check-outline-primary">
                                <label class="boxed-check boxed-check-inline small">
                                    <InputRadio class="boxed-check-input" type="radio" name="radio-overview-1" Value="@AdminModel.PaymentMethod.All"/>
                                    <div class="boxed-check-label">Все</div>
                                </label>
                                <label class="boxed-check boxed-check-inline small">
                                    <InputRadio class="boxed-check-input" type="radio" name="radio-overview-1" Value="@AdminModel.PaymentMethod.Cash"/>
                                    <div class="boxed-check-label">Наличные</div>
                                </label>
                                <label class="boxed-check boxed-check-inline small">
                                    <InputRadio class="boxed-check-input" type="radio" name="radio-overview-1" Value="@AdminModel.PaymentMethod.Card"/>
                                    <div class="boxed-check-label">Карта</div>
                                </label>
                            </div>
                            </InputRadioGroup>
                        </div>
                        <div class="col-4">
                            <label for="check" class="form-label">Способ получения</label>
                            <InputRadioGroup Name="radio-overview-2" @bind-Value="adminModel.GetMeth">
                            <div class="boxed-check-group boxed-check-outline-primary">
                                <label class="boxed-check boxed-check-inline small">
                                    <InputRadio class="boxed-check-input" type="radio" name="radio-overview-2" Value="@AdminModel.GetMethod.All"/>
                                    <div class="boxed-check-label">Все</div>
                                </label>
                                <label class="boxed-check boxed-check-inline small">
                                    <InputRadio class="boxed-check-input" type="radio" name="radio-overview-2" Value="@AdminModel.GetMethod.Sam"/>
                                    <div class="boxed-check-label">Сам привез</div>
                                </label>
                                <label class="boxed-check boxed-check-inline small">
                                    <InputRadio class="boxed-check-input" type="radio" name="radio-overview-2" Value="@AdminModel.GetMethod.Vivoz"/>
                                    <div class="boxed-check-label">Вывоз</div>
                                </label>
                            </div>
                            </InputRadioGroup>
                        </div>
                        <div class="col-1">
                            
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-1">
                            <button class="w-100 btn btn-primary" type="submit" value="">Найти</button>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-4"></div>
                        <div class="col-3"></div>
                        <div class="col-5"> </div>
                      </div>
                      <hr class="my-4">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Заказ №</th>
                              <th scope="col">Город</th>
                              <th scope="col">Дата поставки</th>
                              <th scope="col">Имя</th>
                              <th scope="col">Телефон</th>
                              <th scope="col">Почта</th>
                              <th scope="col">Получение</th>
                              <th scope="col">Адрес</th>
                              <th scope="col">Оплата</th>
                              <th scope="col">Сумма</th>
                              <th scope="col">ШК</th>

                            </tr>
                          </thead>
                          <tbody> 
                            @foreach(var doc in bsonDocuments)
                            {   
                                <tr class="myclass" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="args => OrderModal(doc, args)" id="@doc["orderNum"]">
                                    <th scope="row" >@doc["orderNum"]</th>
                                    <td>@doc["city"]</td>
                                    <td>@doc["dateDevivery"]</td>
                                    <td>@doc["clientName"]</td>
                                    <td>@doc["clientPhone"]</td>
                                    <td>@doc["clientMail"]</td>
                                    <td>@doc["getMethod"]</td>
                                    <td>@doc["clientAdress"]</td>
                                    <td>@doc["paymentMethod"]</td>
                                    <td>@doc["finalAmount"] руб</td>
                                    <td>@doc["barcodes"]</td>
                                </tr>
                            }
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @if(order != null)
                                        {
                                            ModalWorksAdmin();
                                            //<p>@mongo.ModalWorks(order, "barcodes")</p>
                                            <p>@orderNumAdm</p>
                                            <p>@dateOrderAdm</p>
                                            <p>@cityAdm</p>
                                            <p>@dateDeviveryAdm</p>
                                            <p>@clientNameAdm</p>
                                            <label class="form-label">Телефон</label>
                                            <input class="form-control" id="phone"  @bind="clientPhoneAdm"/>
                                            <p>@clientPhoneAdm</p>
                                            <p>@clientMailAdm</p>
                                            <p>@clientAdressAdm</p>
                                            <p>@paymentMethodAdm</p>
                                            <p>@finalAmountAdm</p>
                                            @foreach(var i in barCodesAdm)
                                            {
                                                <p>@i</p>
                                            }
                                        }
                                    
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                          </tbody>
                        </table>
                      <hr class="my-4">
                      <a @onclick="Logout" href="javascript:void(0)">Выйти</a>
                      <p>@adminModel.PhoneNumber</p>
                        <p>@adminModel.Email</p>
                        <p>@adminModel.OrderNumber</p>
                        <p>@adminModel.PayMet</p>
                        <p>@adminModel.GetMeth</p>
                            @{
                                DateTimeOffset date = StartDate ?? DateTime.Now;

                            }
                        <p>@date.ToString("dddd dd MMMM yyyy")</p>

                        

                      <hr class="my-4">
                  </div>
                </div>
              </main>

              <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">© 2021–2022 Доставка на маркет</p>
              </footer>
              </EditForm>
            </body>
        
    </Authorized>
    <NotAuthorized>
        Your are not authorized
    </NotAuthorized>
</AuthorizeView>

@code {
    MongoDB mongo = new MongoDB();
    AdminModel adminModel = new AdminModel();

    List<BsonDocument> bsonDocuments = new List<BsonDocument>();

    string? order { get; set; }

    private MarkupString text { get; set; }


    string? orderNumAdm { get; set; }
    string? dateOrderAdm { get; set; }
    string? cityAdm { get; set; }
    string? dateDeviveryAdm { get; set; }
    string? clientNameAdm { get; set; }
    string? clientPhoneAdm { get; set; }
    string? clientMailAdm { get; set; }
    string? getMethodAdm { get; set; }
    string? clientAdressAdm { get; set; }
    string? paymentMethodAdm { get; set; }
    string? finalAmountAdm { get; set; }

    List<BsonValue> barCodesAdm = new List<BsonValue>();


    private async Task OrderModal(BsonDocument doc, MouseEventArgs args)
    {
        //Console.WriteLine(doc);
        text = new MarkupString(await JSRuntime.InvokeAsync<string>("OrderModal", doc["orderNum"].ToString()));
        order = text.ToString();
    }

    public string ConvertDate()
    {
        DateTimeOffset date = StartDate ?? DateTime.Now;
        return date.ToString("ddd dd MMMM yy");
    }

    public void RestartSearch()
    {
        string? GetMeth = "Все";
        string? PayMet = "Все";

        if (adminModel.GetMeth == AdminModel.GetMethod.All) GetMeth = "Все";
        else if (adminModel.GetMeth == AdminModel.GetMethod.Sam) GetMeth = "Привезет самостоятельно";
        else if (adminModel.GetMeth == AdminModel.GetMethod.Vivoz) GetMeth = "Нужен вывоз";

        if (adminModel.PayMet == AdminModel.PaymentMethod.All) PayMet = "Все";
        else if (adminModel.PayMet == AdminModel.PaymentMethod.Cash) PayMet = "Наличные";
        else if (adminModel.PayMet == AdminModel.PaymentMethod.Card) PayMet = "Карта";

        bsonDocuments.Clear();

        if (!adminModel.isChecked)
        {
            bsonDocuments.Clear();
            mongo.GlobalFilter(bsonDocuments, ConvertDate(), adminModel.PhoneNumber, adminModel.OrderNumber, adminModel.Email, GetMeth, PayMet);
        }
        else
        {
            bsonDocuments.Clear();
            string? date = null;
            mongo.GlobalFilter(bsonDocuments, date, adminModel.PhoneNumber, adminModel.OrderNumber, adminModel.Email, GetMeth, PayMet);
        }

    }

    public void ModalWorksAdmin()
    {
        orderNumAdm = mongo.ModalWorks(order, "orderNum", barCodesAdm);
        dateOrderAdm = mongo.ModalWorks(order, "dateOrder", barCodesAdm);
        cityAdm = mongo.ModalWorks(order, "city", barCodesAdm);
        dateDeviveryAdm = mongo.ModalWorks(order, "dateDevivery", barCodesAdm);
        clientNameAdm = mongo.ModalWorks(order, "clientName", barCodesAdm);
        clientPhoneAdm = mongo.ModalWorks(order, "clientPhone", barCodesAdm);
        clientMailAdm = mongo.ModalWorks(order, "clientMail", barCodesAdm);
        getMethodAdm = mongo.ModalWorks(order, "getMethod", barCodesAdm);
        clientAdressAdm = mongo.ModalWorks(order, "clientAdress", barCodesAdm); 
        paymentMethodAdm = mongo.ModalWorks(order, "paymentMethod", barCodesAdm); 
        finalAmountAdm = mongo.ModalWorks(order, "finalAmount", barCodesAdm);
        mongo.ModalWorks(order, "barcodes", barCodesAdm);
    }



    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/login", true);
    }

    DateTimeOffset? StartDate { get; set; } = DateTime.Today;
    DateTimeOffset? EndDate { get; set; } = DateTime.Today.AddDays(1).AddTicks(-1);
    
}
