@page "/"
@using DostavkaNaMarket.Data
@using DostavkaNaMarket.Models


<PageTitle>Добавить поставку</PageTitle>

<EditForm Model="user" OnValidSubmit="Create">
<body>

<DataAnnotationsValidator/>    
<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Данные водителя</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <small class="text-muted">Водитель</small>
              <h6 class="my-0">Ценных Илья Владимирович </h6>
            </div>
            <span class="text-muted"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <small class="text-muted">Автомобиль</small>
              <h6 class="my-0">Citroen Jumper, гос. номер М077РС33</h6>
            </div>
            <span class="text-muted"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <small class="text-muted">Телефон</small>
              <h6 class="my-0"> 8 (920) 903 - 5254</h6>
            </div>
            <span class="text-muted"></span>
          </li>
        </ul>
      </div>

      <div class="col-md-7 col-lg-7">
        <h4 class="mb-3 text-primary">Данные поставки</h4>
          <div class="row g-3">
            <div class="col-3">
              <label for="city" class="form-label">Город</label>
              <InputSelect class="form-select" @bind-Value="user.CitySell">
                <option value="@User.City.Владимир">Владимир</option>
                <option value="@User.City.Иваново">Иваново</option>
                <option value="@User.City.Муром">Муром</option>
                <option value="@User.City.Ковров">Ковров</option>
              </InputSelect>
            </div>

            @{
                user.DateDelivery();
            }
            <div class="col-12">
                <label for="warehouse" class="form-label">Отправить в</label>
                <div class="col-12">
                    <InputRadioGroup Name="radio-overview-1" @bind-Value="user.DateSell">
                    <div class="boxed-check-group boxed-check-outline-primary">
                        <label class="boxed-check boxed-check-inline">
                            <InputRadio class="boxed-check-input" type="radio" name="radio-overview-1" Value="@User.Date.Понедельник"/>
                            <div class="boxed-check-label">Коледино, @user.dateMonday.ToString("dddd dd MMMM yyyy")</div>
                        </label>
                        <label class="boxed-check boxed-check-inline">
                            <InputRadio class="boxed-check-input" type="radio" name="radio-overview-1" Value="@User.Date.Среда"/>
                            <div class="boxed-check-label">Электросталь, @user.dateWednesday.ToString("dddd dd MMMM yyyy")</div>
                        </label>
                    </div>
                    </InputRadioGroup>
                    <ValidationMessage For="(() => user.DateSell)" />
                </div>
            </div>

            <div class="col-12">
              <label for="name" class="form-label">ФИО</label>
              <InputText class="form-control" placeholder="Иванов Иван Иванович" @bind-Value="user.ClientName"/>
              <ValidationMessage For="(() => user.ClientName)" />
            </div>

            <div class="col-6">
                <label for="phoneNumber" class="form-label">Номер телефона</label>
                <div class="input-group has-validation">
                    <span class="input-group-text">+7</span>
                    <InputText class="form-control" placeholder="9011418686" @bind-Value="user.ClientPhone"/>
                    <ValidationMessage For="(() => user.ClientPhone)" />
                </div>
            </div>

            <div class="col-md-6">
              <label for="email" class="form-label">Адрес электронной почты <span class="text-muted">(По желанию)</span></label>
              <InputText type="email" class="form-control" id="email" placeholder="Ivanov@yandex.ru" @bind-Value="user.ClientMail"/>
            </div>

            @{
                user.OnSelected();
            }
             <div class="col-12">
                <div class="col-12">
                    <InputRadioGroup Name="radio-overview-2" @bind-Value="user.OfDelSell">
                    <div class="boxed-check-group boxed-check-outline-primary">
                        <label class="boxed-check boxed-check-inline">
                            <InputRadio class="boxed-check-input" type="radio" name="radio-overview-2" Value="@User.OfficeOrDelivery.Sam"/>
                            <div class="boxed-check-label">Привезу самостоятельно</div>
                        </label>
                        <label class="boxed-check boxed-check-inline">
                            <InputRadio class="boxed-check-input" type="radio" name="radio-overview-2" Value="@User.OfficeOrDelivery.Vivoz"/>
                            <div class="boxed-check-label">Мне нужен вывоз</div>
                        </label>
                    </div>
                    </InputRadioGroup>
                </div>
            </div>

            <div class="col-12" id="wizard" style="display:none;" @attributes="user.InputAttributes">
              <label for="Address" class="form-label">Адрес</label>
              <InputText type="text" class="form-control" id="Address" placeholder="Город, улица, дом, подъезд" @bind-Value="user.ClientAdress"/>
            </div>

          

            <div class="col-12">
                <div class="col-6">
                <label for="Delivery" class="form-label">Введите ШК коробок по очереди</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">WB</span>
                    <input type="number" class="form-control" name="barcode" placeholder="8027 4257" aria-label="" aria-describedby="button-addon2"
                            @bind-value="user.barcode" @bind-value:event="oninput" @onkeydown="@user.Enter"/>
                    <button class="btn btn-outline-primary" type="button" id="button-addon2" @onclick="user.AddToList">Добавить</button>
                </div>
                </div>
            </div>

            @foreach(string bar in user.AllNumbersBarcode)
            {
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-9" id="basic-addon1">@bar</span>
                        <button type="button" class="btn btn-outline-danger" @onclick="() => user.RemoveBarcode(bar)">Удалить</button>
                    </div>
                </div>
            }


          <hr class="my-4">

          <h4 class="mb-3">Способ оплаты</h4>

          <div class="my-3">
              
                <InputRadioGroup Name="radio" @bind-Value="user.PayMet">
                    <div class="form-check">
                        <label class="check-input">
                          <InputRadio class="form-check-input" type="radio" name="radio" Value="@User.PaymentMethod.Cash" checked="" required=""/>
                            <div class="form-check-label">Наличные</div>
                        </label>
                    </div>
                     <div class="form-check">
                         <label class="check-input">
                          <InputRadio class="form-check-input" type="radio" name="radio" Value="@User.PaymentMethod.Card" required=""/>
                            <div class="form-check-label">Карта (+2%)</div>
                        </label>
                    </div>
                </InputRadioGroup>
            
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Итого к оплате</h4>

              @{
                    user.CalculateFinalAmount();
                }
              <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Коробки (@user.AllNumbersBarcode.Count шт.)</h6>
                </div>
                <span class="text-muted">@(user.BoxAmount) руб.</span>
              </li>

              @if((user.ClientAdress != null) | (user.OfDelSell != User.OfficeOrDelivery.Sam))
              {
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">Вывоз</h6>
                    </div>
                    <span class="text-muted">@(user.DeliveryPrice) руб.</span>
                  </li>
              }

              <li class="list-group-item d-flex justify-content-between">
                <span>Итого</span>
                <strong>@(user.FinalAmount) руб.</strong>
              </li>
            </ul>

          <hr class="my-4">

          @{
                user.SubmitChanged();
            }
            <div class="col-12">
                <div class="form-check">
                  <InputCheckbox class="form-check-input" @bind-Value="user.isChecked" id="invalidCheck"/>
                  <label class="form-check-label" for="invalidCheck">
                      Создавая заявку вы соглашаетесь с нашими <a href="/conditions">Условиями</a>
                  </label>
                </div>
            </div>

            <div class="col-12">
              <button class="w-100 btn btn-secondary btn-lg" type="button" value="" @attributes="user.InputAttributesSubmit" @onclick="StepPreview">Создать заявку</button>
          </div>
          </div>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2021–2022 Доставка на маркет</p>
  </footer>
</div>

</body>
</EditForm>

@code{
    User user = new User();

    void Create()
    {
        Console.WriteLine($"Город: {user.CitySell}");

        if(user.DateSell == User.Date.Среда)
        {
            Console.WriteLine($"Отправка в: {user.dateWednesday.ToString("dddd dd MMMM yyyy")}");
        }
        else if(user.DateSell == User.Date.Понедельник)
        {
            Console.WriteLine($"Отправка в: {user.dateMonday.ToString("dddd dd MMMM yyyy")}");
        }

        Console.WriteLine($"ФИО: {user.ClientName}");
        Console.WriteLine($"Номер телефона: {user.ClientPhone}");
        Console.WriteLine($"Адрес электронной почты: {user.ClientMail}");

        if(user.OfDelSell == User.OfficeOrDelivery.Sam)
        {
            Console.WriteLine($"Способ получения: Привезет самостоятельно");
        }
        else if(user.OfDelSell == User.OfficeOrDelivery.Vivoz)
        {
            Console.WriteLine($"Способ получения: Нужен вывоз");
            Console.WriteLine($"Адрес: {user.ClientAdress}");
        }

        if(user.PayMet == User.PaymentMethod.Cash)
        {
            Console.WriteLine($"Способ оплаты: Наличные");
        }
        else if(user.PayMet == User.PaymentMethod.Card)
        {
            Console.WriteLine($"Способ оплаты: Карта");
        }

        Console.WriteLine($"Итого к оплате {user.FinalAmount}");
    }

    void StepPreview()
    {
        
    }

}